@{
    ViewData["Title"] = "Cardapp";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Wendy+One&display=swap" rel="stylesheet">
<link href="~/css/index-home.css" rel="stylesheet" />

<div class="text-center d-flex justify-content-around">
    <div class="d-flex flex-column left-content">
        <a class="navbar-brand d-flex justify-content-lg-start mt-3" asp-controller="Home" asp-action="Index">
            <img src="~/img/logo.svg" class="logo" />
        </a>
        <div class="d-flex justify-content-end text-white" style="margin-top: 50px">
            <h3 class="text-left index-title">Uma nova forma de aproveitar as refeições</h3>
        </div>
    </div>
    <div style="margin-top: 50px;">
        <img src="~/img/dinner.svg" class="index-image" />
        <a asp-action="index" asp-controller="About" class="animated-button d-flex align-content-end" style="margin-top: -10% ">
            <img src="/img/next.svg" class="animated-button" />
        </a>
    </div>
</div>
