@{
    ViewData["Title"] = "Cardapp";
}

<div class="text-center">
    <div>
        @*<h3 class="display-4">Uma nova forma de aproveitar as refeições</h3>*@
        <img src="~/img/dinner.svg" width="570" />
        <a asp-action="Login" class="animated-button">
            <img src="/img/next.svg" width="80" />
        </a>
    </div>
</div>
