
@{
    ViewData["Title"] = "Login";
}

<div class="container" style="margin: 5% auto">
    <div class="row">
        <div class="column">
            <img src="~/img/restaurant.svg" />
        </div>
        <div class="column text-center" style="width: 50%; background-color: #93c1caaa; 
                border-radius: 0 15px 15px 0">
            <div class="text-center" style="background-color: #fffa; width: 95%; height: 90%; margin: 5% 0; 
                    border-radius: 0 15px 15px 0; display: flex; justify-content: center; align-items: center; flex-direction: column">
                <h2 style="color: #555; margin-bottom: 2%">Login</h2>
                <form method="post" action="/ItemCardapio/Index">
                    <label for="id-email">E-mail</label>
                    <input id="id-email" name="email" class="form-control" />

                    <label for="id-senha">Senha</label>
                    <input id="id-senha" name="senha" class="form-control" />

                    <input type="submit" value="Entrar" class="btn btn-info" style="margin-top: 5%" />
                </form>
            </div>
        </div>
    </div>
</div>

