@model Item
@{
    ViewData["Title"] = "Edite o item do cardápio";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<h1 style="display: flex; justify-content: center;" class="my-5">Edite o item escolhido</h1>


<div class="card cardStyle mx-auto">
    <form asp-action="Editar">
        <row>
            <div class="form-row">
                <div class="col-4">
                    <label asp-for="Nome" for="name">Nome</label>
                    <input asp-for="Nome" type="text" class="form-control" id="name">
                </div>
                <div class="input-group col-4" style="display: flex; align-items: end">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="valor">R$</span>
                    </div>
                    <input asp-for="Preco" type="number" class="form-control" placeholder="Informe o valor do item no formato R$ 00.00" aria-describedby="valor">
                </div>
                <div class="input-group col-4" style="display: flex; align-items: end">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="valorCalorico">Kcal</span>
                    </div>
                    <input asp-for="ValCalorico" type="number" class="form-control" placeholder="Informe o valor calórico do item" aria-describedby="valorCalorico">
                </div>
            </div>
        </row>
        <row>
            <div class="form-group mt-3">
                <label asp-for="Descricao" for="descricao">Descrição do item</label>
                <textarea asp-for="Descricao" class="form-control" id="descricao" rows="4"></textarea>
            </div>
        </row>
        <row>
            <div class="form-row formRowStyle">
                <div class="col-4">
                    <label asp-for="Foto" for="foto">Selecione a foto do item</label>
                    <input asp-for="Foto" type="text" class="form-control-file" id="foto">
                </div>
                <div class="col-4 d-flex flex-row justify-content-end">
                    <label class="form-check-label mr-5" for="destaque">
                        Esse item está em destaque?
                    </label>
                    <input class="form-check-input" type="checkbox" id="destaque">
                </div>
            </div>
        </row>
        <row>
            <div class="form-row formRowStyleButton">
                <input type="submit" value="Salvar" class="btn btn-info" />
                <a asp-action="Index"  class="btn btn-outline-danger">Cancelar</a>
            </div>
        </row>
    </form>
</div>

<style>
    .cardStyle {
        width: 90%; 
        border: 2px solid #800;
        height: 80%;
        padding: 2%;
    }
    .formRowStyle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .formRowStyleButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
    }
</style>