
@{
    ViewData["Title"] = "Visualização do Cardápio";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<h1 style="display: flex; justify-content: center">Cardápio</h1>

<div class="card mx-auto" style="width: 80%; border: 2px solid #800; height: 80vh">
    <row style="height: 5vh">
        <div class="btn-group w-100 h-100" role="group">
            <button type="button" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center"><span class="material-icons" style="padding-right: 1%">restaurant_menu</span>Pratos principais</button>
            <button type="button" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center"><span class="material-icons" style="padding-right: 1%">local_bar</span>Pratos principais</button>
            <button type="button" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center"><span class="material-icons" style="padding-right: 1%">fastfood</span>Pratos principais</button>
            <button type="button" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center"><span class="material-icons" style="padding-right: 1%">icecream</span>Pratos principais</button>
            <button type="button" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center"><span class="material-icons" style="padding-right: 1%">restaurant_menu</span>Pratos principais</button>
        </div>
    </row>
    <row>

    </row>
</div>
