
@{
    ViewData["Title"] = "Adicione um item ao cardápio";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<h1 style="display: flex; justify-content: center;" class="my-5">Cadastre um novo item</h1>


<div class="card cardStyle mx-auto">
    <row>
        <div class="form-row">
            <div class="col-4">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="input-group col-4" style="display: flex; align-items: end">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="valor">R$</span>
                </div>
                <input type="number" class="form-control" placeholder="Informe o valor do item no formato R$ 00.00" aria-describedby="valor">
            </div>
            <div class="input-group col-4" style="display: flex; align-items: end">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="valorCalorico">Kcal</span>
                </div>
                <input type="number" class="form-control" placeholder="Informe o valor calórico do item" aria-describedby="valorCalorico">
            </div>
        </div>
    </row>
    <row>
        <div class="form-group mt-3">
            <label for="descricao">Descrição do item</label>
            <textarea class="form-control" id="descricao" rows="4"></textarea>
        </div>
    </row>
    <row>
        <div class="form-group">
            <label for="ingredientes">Ingredientes do item</label>
            <textarea class="form-control" id="descricao" rows="2"></textarea>
        </div>
    </row>
    <row>
        <div class="form-row formRowStyle">
            <div class="col-3">
                <label for="foto">Selecione a foto do item</label>
                <input type="file" class="form-control-file" id="foto">
            </div>
            <div class="col-2 d-flex flex-row">
                <label class="form-check-label" for="destaque">
                    Esse item está em destaque?
                </label>
                <input class="form-check-input" type="checkbox" id="destaque">
            </div>
        </div>
    </row>
    <row>
        <div class="form-row formRowStyleButton">
            <button class="btn btn-outline-info mr-4">Cadastrar</button>
            <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
        </div>
    </row>
</div>

<style>
    .cardStyle {
        width: 90%; 
        border: 2px solid #800;
        height: 80%;
        padding: 2%;
    }
    .formRowStyle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .formRowStyleButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
    }
</style>